<% include ./partials/boilerplate %>
<% include ./partials/nav %>
<div class="body-flex">
    <div class="welcome-wrap">
        <h1>Welcome to my</h1>
        <h1>to do app.</h1>
        <form method="link" action="/todos">
            <input type="submit" value="To-Do's" />
        </form>
    </div>
</div>
<% include ./partials/footer %>
<% include ./partials/end %>
