<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<div class="body-flex">
    <form method="link" action="/todos">
        <input type="submit" value="Add New Todo"/>
    </form>

    <div class="btndiv">
        <a href="/todos/new">Add New Todo</a>
    </div>

    <% todos.forEach(todo => { %>
    <div class="todos-container">
        <div id="top">
            <p><%= todo.title %></p>
            <p><%= todo.status %></p>
        </div>
        <div id="bottom">
            <p><%= todo.category %></p>
        </div>
    </div>
    <% }) %>

</div>
<% include ../partials/footer %>
<% include ../partials/boilerplate %>

