<% include ../partials/boilerplate %>
<div class="btndiv">
    <a href="/todos/new">Add New Todo</a>
</div>
<div class="todos-container">
    <% todos.forEach(todo => { %>
    <div class="todo">
        <%= todo.title %>
        <%= todo.category %>
        <%= todo.description %>
    </div>
    <% }) %>
</div>

<% include ../partials/boilerplate %>

